{"filter":false,"title":"config.xml","tooltip":"/phonegap/scavenger_app/config.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":2033.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":106,"state":"start","mode":"ace/mode/xml"}},"timestamp":1486893433200,"hash":"6f0c7adde047ccdd886b8278adc6703eacd5024d"}